<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-left">Filter by:</div>
            <div class="col-md-4  text-left">
                <input type="text"
                       [(ngModel)]='listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  text-left">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button (click)='toggleImage()'
                                    class="btn btn-primary">
                                {{showImage? 'Hide':'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <th><img [src]='product.imageUrl'
                                 [title]='product.productName'
                                 [alt]='product.productName'
                                 [style.margin.px]='imageMargin'
                                 *ngIf='showImage' /> </th>
                        <th>{{product.productName}}</th>
                        <th>{{product.productCode | lowercase | convertToSpaces : '-'}}</th>
                        <th>{{product.releaseDate}}</th>
                        <th>{{product.price | currency : 'USD':'symbol':'2.2-2'}}</th>
                        <!-- <th>{{product.starRating}}</th> -->
                        <th>
                            <pm-star [raiting]='product.starRating'
                                     (raitingClicked)='onRaitingClicked($event)'></pm-star>
                        </th>
                    </tr>
                    <!-- foreach -->
                </tbody>
            </table>
        </div>

    </div>

</div>