<!--The whole content below can be removed with the new code.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  ... Starter Files ...

   <pm-products></pm-products> 
  </div> -->

<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{title}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link'  [routerLink]="['/products']">Product List</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
