<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <img src="./app/assets/images/logo.jpg" class="img-responsive center-block" />
        <div class="panel-body">
            <div class="col-md-6">
                <div class="text-right">Developed by:</div>
                <h3 class="text-right">Deborah Kurata</h3>

                <div class="text-right">deborahk@insteptech.com</div>
                <div class="text-right">
                    <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>Art work by:</div>
                <h3>Krysta Kurata</h3>
                <a href="http://krysta-kurata.squarespace.com/">krysta-kurata.squarespace.com/</a>
            </div>
        </div>
    </div>
</div>